@page "{id}"
@model CecSessions.UI.Pages.Admin.Roles.UpdateUsersInRoleModel
@{
    ViewData["Title"] = "Դերին կցել կամ հեռացնել օգտարեր";
}


<form method="post" enctype="multipart/form-data">

     <input type="hidden" asp-for="@Model.RoleId" />

    <div class="card card-input">
        <div class="card-body p-0 d-flex align-items-center">
            <i class="cil-user-follow bg-primary p-4 px-5 font-2xl mr-3 text-white"></i>
            <div>
                <div class="text-value-sm text-info">Դերին կցել կամ հեռացնել օգտարեր</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="clear"></div>

                <div class="col-lg-12">
                    <partial name="_ValidationSummary" />
                    @if (Model.Errors.Count > 0)
                    {
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                                {
                            <li>@error.Code: @error.Description</li>
                            }
                        </ul>
                    </div>
                    }
                </div>

                

                 @for (int i = 0; i < Model.UserRoleList.Count; i++)
                 {
                <input type="hidden" asp-for="@Model.UserRoleList[i].UserId" />
                <input type="hidden" asp-for="@Model.UserRoleList[i].UserName" />
              @*   <div class="row margin-top-20">*@
                <div class="col-lg-6">
                    <label class="text-success">Օգտատեր - @Model.UserRoleList[i].UserName </label>
                    <input style="margin-left: -20rem" class="form-control" type="checkbox" asp-for="@Model.UserRoleList[i].IsSelected">
                </div>
                  <div class="col-lg-6">
                </div>
               @*  </div>*@
                 }
              
              

                <div style="height:20px"></div>
                <div class="col-lg-12 border-top margin-top-20" style="padding-top:20px">
                    <button type="submit" class="btn btn-primary"><i class="cil-sync"></i> Թարմացնել</button>
                    <a class="btn btn-danger" asp-page="/Admin/Roles/Index"><i class="cil-x-circle"></i> Չեղարկել</a>
                </div>
            </div>
        </div>
    </div>
</form>